body {
	margin: 0px;
	font-family: verdana;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 700;
	color: #56a;
	padding: 1rem;
	margin: 0;
	box-shadow: 3px 3px 5px #56a;
}

h3 {
	margin: 5px;
	padding: 8px;
	color: tomato;
	border-bottom: solid 1px #aaa;
}

p {
	 margin: 6px;
}

ul {
	list-style-type: disc;
	text-transform: capitalize;
}

ul li {
	line-height: 27px;
}

a {
	text-decoration: underline;
	text-transform: capitalize;
}

img {
	margin: 2%;
	border-radius: .6rem;
	max-width: 380px;
}

li {
	margin: 0.4rem;
}

.description > section ,
.ingredients,
.steps {
	margin: 1.2rem;
}

.description {
	text-align: center;
}

.ingredients ul {
	font-family: sans-serif;
}

p#info {
	color: #57a;
	padding: 13px;
	border-bottom: 1px solid #ddd
}
 